/*
    Created on : 8.1.2020, 12:43:54
    Author     : risberg
*/
@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(3rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

