/*
    Created on : 25.11.2019, 14:08:39
    Author     : risberg
*/
.sonheader {
    height: 120vh;
    background-image: url(../img/son_bg.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    //justify-content: space-between;
    &__empty1 {
        flex: 4 1 auto;
    }
    &__content {
        flex: 0.2 1 auto;
        display: flex;
        justify-content: space-between;
        &__empty {
            flex: 1 1 auto;
        }
        &__text {
            background-color: rgba(0, 0, 0, 0.5);
            flex: 1 1 auto;
            //text-align: center;
            padding-right: 16rem;
            display: flex;
            flex-direction: column;
            //justify-content: space-around;
            align-items: center;
            border-radius: 10em 0 0 10em;
            &__top {
                //font-family: 'Passion', sans-serif;
                font-family: serif;
                font-size: 14rem;
                color: white;
                &--colored {
                    color: $color-primary;
                }
            }
            &__bottom {
                font-size: 2rem;
                color: white;
            }
        }
    }
    &__empty2 {
        flex: 1 1 auto;
    }
}

