/*
    Created on : 9.12.2019, 14:13:50
    Author     : risberg
*/
.blog {
    //border: solid;
    margin-top: 16rem;
    padding: 0.01em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 80vh;
    &__image {
        overflow: hidden;
        background-image: url("../img/woman.jpg");
        background-size: cover;
        &--1 {
            //max-width: 100%;
            //height: auto;
            //vertical-align: middle;
        }
    }
    &__text {
        background-color: whitesmoke;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        //align-items: center;
        padding: 8rem;
        &__item {
            &--1 {
                color: $color-primary;
                font-weight: bolder;
            }
            &--3 {
                font-style: italic;
                font-size: 4rem;
            }
            &--4 {
                color: lightgray;
            }
        }
    }
}

