/*
    Created on : 11.11.2019, 13:42:13
    Author     : risberg
*/
$color-white: #fff;
$color-secondary: #eb2f64;
$color-secondary-light: #FF3366;
$color-secondary-dark: #BA265D;

$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-quartiary-light: #ffb900;
$color-quartiary-dark: #ff7730;

$color-grey-dark-1: #333;
$color-grey-light-1: #f7f7f7;

$bp-largest: 75em;     // 1200px
$bp-large: 68.75em;    // 1100px
$bp-medium: 56.25em;   // 900px
$bp-small: 43.5em;     // 700px
$bp-smallest: 31.25em; // 500px